.App {
  text-align: center;
}

.App-header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
}
.App-header, h1 {
  font-size: 45px;
}

.App-body {
  text-align: left;
}

.text-area {
  position: absolute;
  height: 200px !important;
  width: 750px;
  font-size: 15px;
  top: 20px;
}

.counter-area {
  width: 450px;
  position: absolute;
  top: 20px;
  left: 800px;

}

.align-field {
  position:absolute;
  left:-80px;
}

.output-area {
  position: absolute;
  top: 280px;
  left:-80px;
  height: 300px;
  width: 750px;
  font-size: 18px;
}

.adverb {
  background: #c4e3f3;
}

.qualifier {
  background: #c4e3f3;
}

.passive {
  background: #c4ed9d;
}

.complex {
  background: #e3b7e8;
}

.hardSentence {
  background: #f7ecb5;
}

.veryHardSentence {
  background: #e4b9b9;
}