.App {
  text-align: center;
}

.App-header {
  padding: 60px;
  text-align: center;
  font-size: 20px;
  background: #1abc9c;
  color: white;
}

.App-body {
  text-align: left;
}

.text-area {
  position: absolute;
  height: 200px !important;
  width: 750px;
  font-size: 15px;
  top: 20px;
}

.counter-area {
  width: 450px;
  position: absolute;
  top: 20px;
}

.align-field {
  position:absolute;
  left:-80px;
}

.output-area {
  position: absolute;
  top: 280px;
  left:-80px;
  height: 180px;
  width: 750px;
  font-size: 18px;
}